




.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 370px;
    
  
   
}

.card-title {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.card-text {
    margin-bottom: 1rem;
}

.text-end {
    text-align: end;
}

.fs-6 {
    font-size: 0.875rem;
}

.text-body-secondary {
    color: #6c757d;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0056b3;
    border-color: #0056b3;
}
.center{
    margin-left: 100px;
}


